# 统计课题 #
```
  IBM公司员工各项数据评估
  
```

| 参与人员 | 学号 | 职责 |
|----------|------|------|
| 傅龙文 | 16222010025 | |
| 吉宇凯 | 16222010037 | |

-----------------------------

## 数据描述 ##
```
  IBM HR Analytics Employee Attrition & Performance
  Predict attrition of your valuable employees
  
  数据来源 ： https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset
  
```

-----------------------------

## 包含的 Features ##

| Feature | 说明 | | Feature | 说明 |
|--------:|:-----|-|--------:|:-----|
| Age | 年龄 || Attrition | 是否离职 |
| BusinessTravel | 商旅频率| | DailyRate | 平均多少天商旅一次|
| Department | 部门 | | DistanceFromHome | 离家的距离 |
| Education | 教育程度 | | EducationField | 教育领域 |
| EmployeeCount | | | EmployeeNumber | | 
| EnvironmentSatisfaction | 环境满意度 | | Gender | 性别 |
| HourlyRate | 实际工时 | | JobInvolvement | 工作投入程度 |
| JobLevel | 职级 | |JobRole | 职位 |
| JobSatisfaction | 职位满意度 | | MaritalStatus| 婚姻状态 |
| MonthlyIncome | 月收入 || MonthlyRate | 月率 |
| NumCompaniesWorked | 工作个多少家公司 | | Over18 | 是否成年 |
| OverTime | 是否超时工作 | | PercentSalaryHike | 工资上涨百分比 |
| PerformanceRating | 绩效评定| | RelationshipSatisfaction | 关系满意度 |
| StandardHours | 标准工时 | | StockOptionLevel | 股票期权的水平 |
| TotalWorkingYears | 总工龄(年)| | TrainingTimesLastYear | 去年参与培训的时间（小时）|
| WorkLifeBalance | 工作生活是否平衡 | | YearsAtCompany | 公司呆了多久 |
| YearsInCurrentRole | 服役与当前职位的年数| | YearsSinceLastPromotion | 距离上次晋升的年数|
| YearsWithCurrManager | 服役与当前经理的年数| | | |

## 特征的值说明 ##


| 特征的值 | 说明 |  | 特征的值 | 说明 | 
|:---------|:-----|:-|:---------|:-----|
| Education | 1 'Below College'<br>2 'College'<br>3 'Bachelor'<br>4 'Master'<br>5 'Doctor' | | Environment |  1 'Low'<br>2 'Medium'<br>3 'High'<br> 4 'Very High' |
| JobInvolvement | 1 'Low'<br>2 'Medium'<br>3 'High'<br>4 'Very High' | | JobSatisfaction  | 1 'Low'<br>2 'Medium'<br>3 'High'<br>4 'Very High' |
| PerformanceRating | 1 'Low'<br>2 'Good'<br>3 'Excellent'<br>4 'Outstanding' | | RelationshipSatisfaction | 1 'Low'<br>2 'Medium'<br>3 'High'<br>4 'Very High' |
| WorkLifeBalance |  1 'Bad'<br>2 'Good'<br>3 'Better'<br>4 'Best' | | | |

## 特征删选 ##

### 不参与统计的特征 ###
* 由于部分特征值缺少描述说明，没有将其放入统计纬度内，缺少说明的特征是，EmployeeCount， EmployeeNumber,StockOptionLevel,MonthlyRate

* 特征值表达的属性重复:
  - 如 StandardHours,HourlyRate, OverTime，最后只关心是否有超时工作，即保留OverTime，其余两个不参与统计。
  - 如 BusinessTravel，DailyRate， 都表示了商旅的频率， 保留BusinessTravel。

* Over18 属性 在所有样本中均为 已成年， 全局值唯一，不参与统计。

--------------------------------------

### 特性类型分类 ###

#### Quantitative Data 定量数据 ####
`定量数据是指，特征的值是有数字组成 并且可以表示数量或者测量的值`


`根据定量数据表示的意义不同，可以分成两类定量数据`
##### Discrete Data  离散数据#####
样本中的离散定量类型的 特征有：
EnvironmentSatisfaction，JobInvolvement，JobSatisfaction，PerformanceRating，RelationshipSatisfaction，WorkLifeBalance


##### Continuous Data 连续数据 #####
样本中的连续定量类型的 特征有：
Age，MonthlyIncome，TrainingTimesLastYear，YearsAtCompany，DistanceFromHome
NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager

-------------------------------------


#### Categorical Data  分类数据 ####
`分类数据是指， 特征的值是有描述性组成，如名字，标签`

样本中的分类类型的 特征有
Attrition，Department，Education，EducationField，MaritalStatus,BusinessTravel,Gender,OverTime,JobLevel,JobRole


------------------------------------

### 参与统计的特征 ###
------------------------------------

| Quantitative | 说明 | | Categorical | 说明 |
|:--------|:-----|-|:--------|:-----|
| Age | 年龄 || Attrition | 是否离职 |
| MonthlyIncome | 月收入 | | Department | 部门 |
| WorkLifeBalance | 工作生活是否平衡 | | Education | 教育程度 |
| NumCompaniesWorked | 工作个多少家公司 | | EducationField | 教育领域 |
| PercentSalaryHike | 工资上涨百分比 | | Gender | 性别 |
| TotalWorkingYears | 总工龄(年)| | MaritalStatus| 婚姻状态 |
| TrainingTimesLastYear | 去年参与培训的时间（小时）| | BusinessTravel | 商旅频率|
| YearsAtCompany | 公司呆了多久 | | OverTime | 是否超时工作 |
| YearsInCurrentRole | 服役与当前职位的年数| | JobLevel | 职级 | 
| YearsSinceLastPromotion | 距离上次晋升的年数| |JobRole | 职位 |
| YearsWithCurrManager | 服役与当前经理的年数| | | |
| DistanceFromHome | 离家距离 | | | |
| EnvironmentSatisfaction | 环境满意度 | | | | 
| JobInvolvement | 工作投入程度 | | | |
| JobSatisfaction | 职位满意度 | | | |
| PerformanceRating | 绩效评定| | | |
| RelationshipSatisfaction | 关系满意度 | | | |

# 开始Python编程 #

# 样本数据信息 #

`
 经过 特征删选，参与统计总工有，1470 个样本，27个纬度特征。
`

In [19]:
import pandas as pd

data_file = 'data.csv'
valued_column = ['Age','Attrition','BusinessTravel','Department','DistanceFromHome','Education','EducationField','EnvironmentSatisfaction','Gender','JobInvolvement','JobLevel','JobRole','JobSatisfaction','MaritalStatus','MonthlyIncome','NumCompaniesWorked','OverTime','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager']

df = pd.read_csv('data.csv')
filtered_df = df[valued_column]

print(filtered_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 27 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
NumCompaniesWorked          1470 non-null int64
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(19), object(8)
memory usage: 310.2+ KB
None

In [20]:
# 显示部分数据 
filtered_df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,3,...,11,3,1,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,2,...,23,4,4,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,Male,2,...,15,3,2,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,3,...,11,3,3,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,Male,3,...,12,3,4,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,Research & Development,2,2,Life Sciences,4,Male,3,...,13,3,3,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,Research & Development,3,3,Medical,3,Female,4,...,20,4,1,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,Research & Development,24,1,Life Sciences,4,Male,3,...,22,4,2,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,Research & Development,23,3,Life Sciences,4,Male,2,...,21,4,2,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,Research & Development,27,3,Medical,3,Male,3,...,13,3,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,Research & Development,16,3,Medical,1,Male,4,...,13,3,3,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,Research & Development,15,2,Life Sciences,4,Female,2,...,12,3,4,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,Research & Development,26,1,Life Sciences,1,Male,3,...,17,3,4,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,Research & Development,19,2,Medical,2,Male,3,...,11,3,3,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,Research & Development,24,3,Life Sciences,3,Male,2,...,14,3,2,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,Research & Development,21,4,Life Sciences,2,Female,4,...,11,3,3,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,Research & Development,5,2,Life Sciences,1,Male,4,...,12,3,4,7,5,2,6,2,0,5
17,22,No,Non-Travel,Research & Development,16,2,Medical,4,Male,4,...,13,3,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,Sales,2,4,Life Sciences,1,Female,2,...,16,3,3,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,Research & Development,2,3,Life Sciences,4,Male,3,...,11,3,3,6,3,3,3,2,1,2
20,24,No,Non-Travel,Research & Development,11,2,Other,1,Female,4,...,18,3,4,5,5,2,4,2,1,3
21,36,Yes,Travel_Rarely,Sales,9,4,Life Sciences,3,Male,2,...,23,4,2,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,Research & Development,7,4,Life Sciences,1,Female,3,...,11,3,3,13,4,3,12,6,2,11
23,21,No,Travel_Rarely,Research & Development,15,2,Life Sciences,3,Male,3,...,14,3,4,0,6,3,0,0,0,0
24,34,Yes,Travel_Rarely,Research & Development,6,1,Medical,2,Male,3,...,11,3,3,8,2,3,4,2,1,3
25,53,No,Travel_Rarely,Research & Development,5,3,Other,3,Female,3,...,11,3,4,26,3,2,14,13,4,8
26,32,Yes,Travel_Frequently,Research & Development,16,1,Life Sciences,2,Female,1,...,22,4,2,10,5,3,10,2,6,7
27,42,No,Travel_Rarely,Sales,8,4,Marketing,3,Male,3,...,11,3,4,10,2,3,9,7,4,2
28,44,No,Travel_Rarely,Research & Development,7,4,Medical,1,Female,2,...,14,3,4,24,4,3,22,6,5,17
29,46,No,Travel_Rarely,Sales,2,4,Marketing,2,Female,3,...,12,3,4,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,No,Travel_Frequently,Research & Development,4,2,Life Sciences,4,Female,3,...,13,3,2,18,3,3,4,2,0,2
1441,56,No,Non-Travel,Research & Development,1,4,Life Sciences,3,Male,3,...,21,4,1,13,2,2,13,12,1,9
1442,29,Yes,Travel_Rarely,Research & Development,1,4,Medical,1,Male,3,...,14,3,2,4,3,4,2,2,2,2
1443,42,No,Travel_Rarely,Research & Development,2,3,Life Sciences,1,Male,3,...,11,3,1,24,2,2,22,6,4,14
1444,56,Yes,Travel_Rarely,Research & Development,7,2,Technical Degree,4,Male,3,...,11,3,4,14,4,1,10,9,9,8
1445,41,No,Travel_Rarely,Research & Development,28,4,Life Sciences,1,Female,2,...,23,4,3,21,3,3,20,7,0,10
1446,34,No,Travel_Rarely,Sales,28,3,Marketing,4,Female,2,...,21,4,4,8,2,3,8,7,1,7
1447,36,No,Non-Travel,Sales,15,4,Marketing,4,Male,1,...,24,4,1,15,4,2,15,12,11,11
1448,41,No,Travel_Rarely,Sales,3,3,Life Sciences,3,Male,2,...,11,3,3,14,5,3,5,4,0,4
1449,32,No,Travel_Rarely,Research & Development,2,3,Technical Degree,4,Male,3,...,14,3,4,4,4,3,4,2,1,2
1450,35,No,Travel_Rarely,Human Resources,26,4,Life Sciences,3,Female,3,...,16,3,3,9,2,3,9,0,1,7
1451,38,No,Travel_Rarely,Sales,10,2,Life Sciences,1,Female,3,...,11,3,3,10,1,3,10,7,1,9
1452,50,Yes,Travel_Frequently,Sales,1,4,Life Sciences,2,Male,3,...,12,3,4,12,3,3,6,3,0,1
1453,36,No,Travel_Rarely,Sales,11,4,Marketing,2,Female,2,...,13,3,1,8,2,2,6,3,0,0
1454,45,No,Travel_Rarely,Sales,20,3,Life Sciences,4,Female,3,...,15,3,3,8,3,3,5,3,0,1
1455,40,No,Travel_Rarely,Research & Development,2,4,Life Sciences,3,Male,2,...,14,3,4,8,2,3,2,2,2,2
1456,35,No,Travel_Frequently,Research & Development,18,4,Life Sciences,3,Male,3,...,14,3,4,10,2,4,10,2,0,2
1457,40,No,Travel_Rarely,Research & Development,2,4,Medical,3,Female,3,...,14,3,2,20,2,3,5,3,0,2
1458,35,No,Travel_Rarely,Research & Development,1,4,Life Sciences,3,Female,1,...,12,3,4,4,5,3,4,3,1,1
1459,29,No,Travel_Rarely,Research & Development,13,2,Other,4,Male,2,...,13,3,1,10,2,3,4,3,0,3
1460,29,No,Travel_Rarely,Research & Development,28,4,Medical,4,Female,2,...,14,3,2,5,3,1,5,4,0,4
1461,50,Yes,Travel_Rarely,Sales,28,3,Marketing,4,Male,2,...,13,3,2,20,3,3,3,2,2,0
1462,39,No,Travel_Rarely,Sales,24,1,Marketing,2,Female,2,...,11,3,1,21,2,2,20,9,9,6
1463,31,No,Non-Travel,Research & Development,5,3,Medical,2,Male,3,...,19,3,2,10,2,3,9,4,1,7
1464,26,No,Travel_Rarely,Sales,5,3,Other,4,Female,2,...,18,3,4,5,2,3,4,2,0,0
1465,36,No,Travel_Frequently,Research & Development,23,2,Medical,3,Male,4,...,17,3,3,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,Research & Development,6,1,Medical,4,Male,2,...,15,3,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,Research & Development,4,3,Life Sciences,2,Male,4,...,20,4,2,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,Sales,2,3,Medical,4,Male,2,...,14,3,4,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,Research & Development,8,3,Medical,2,Male,4,...,12,3,1,6,3,4,4,3,1,2

# 开始统计 #

## 各项特征的范围 ##
### Categorical  Data ###
将以下几个 分类数据类型的特征 各值统计出来
Attrition，Department，Education，EducationField，MaritalStatus,BusinessTravel,Gender,OverTime,JobLevel,JobRole

In [30]:
import pandas as pd

data_file = 'data.csv'
filtered_df = pd.read_csv('data.csv')
filtered_df = df[valued_column]

column_list = ['Attrition','Department','Education','EducationField','MaritalStatus','BusinessTravel','Gender','OverTime','JobLevel','JobRole']

for column_name in column_list:
    distinct_value = pd.Series.unique(filtered_df[column_name])
    print(column_name,' value: ',distinct_value)

Attrition  value:  ['Yes' 'No']
Department  value:  ['Sales' 'Research & Development' 'Human Resources']
Education  value:  [2 1 4 3 5]
EducationField  value:  ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
MaritalStatus  value:  ['Single' 'Married' 'Divorced']
BusinessTravel  value:  ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Gender  value:  ['Female' 'Male']
OverTime  value:  ['Yes' 'No']
JobLevel  value:  [2 1 3 4 5]
JobRole  value:  ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']

### Discrete Data  离散数据###
将以下离散值的各项值球出来
EnvironmentSatisfaction，JobInvolvement，JobSatisfaction，PerformanceRating，RelationshipSatisfaction，WorkLifeBalance

In [28]:
import pandas as pd

data_file = 'data.csv'
filtered_df = pd.read_csv('data.csv')

column_list = ['EnvironmentSatisfaction','JobInvolvement','JobSatisfaction','PerformanceRating','RelationshipSatisfaction','WorkLifeBalance']

for column_name in column_list:
    distinct_value = pd.Series.unique(filtered_df[column_name])
    print(column_name,' value: ',distinct_value)

EnvironmentSatisfaction  value:  [2 3 4 1]
JobInvolvement  value:  [3 2 4 1]
JobSatisfaction  value:  [4 2 3 1]
PerformanceRating  value:  [3 4]
RelationshipSatisfaction  value:  [1 4 2 3]
WorkLifeBalance  value:  [1 3 2 4]

### Continuous Data 连续数据 ###
求出以下连续定量的取值范围：
Age，MonthlyIncome，TrainingTimesLastYear，YearsAtCompany，DistanceFromHome
NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager

In [31]:
import pandas as pd


data_file = 'data.csv'
df = pd.read_csv('data.csv')
column_list = ['Age','MonthlyIncome','TrainingTimesLastYear','YearsAtCompany','DistanceFromHome','NumCompaniesWorked','PercentSalaryHike','TotalWorkingYears','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager']

for column_name in column_list:
    max_value = max(df[column_name])
    min_value = min(df[column_name])
    range_value = (min_value,max_value)
    print('range of ' ,column_name,': ',range_value )

range of  Age :  (18, 60)
range of  MonthlyIncome :  (1009, 19999)
range of  TrainingTimesLastYear :  (0, 6)
range of  YearsAtCompany :  (0, 40)
range of  DistanceFromHome :  (1, 29)
range of  NumCompaniesWorked :  (0, 9)
range of  PercentSalaryHike :  (11, 25)
range of  TotalWorkingYears :  (0, 40)
range of  YearsInCurrentRole :  (0, 18)
range of  YearsSinceLastPromotion :  (0, 15)
range of  YearsWithCurrManager :  (0, 17)

## rate ##